@charset "utf-8";
/* CSS Document */

.txtGRClr{color:#999;  font-family:Arial Black, Helvetica, sans-serif; line-height:10px; font-size: 14px;
font-size:9px; !important}




/*@font-face {
    font-family: "ariblk";
    src: url(ariblk.ttf);
}

*{ font-family:"ariblk";}
*/
